# JS stuff
#----------

node_modules
/src/public/js/app.js

# IDE and editor files
#--------------------

**/.idea
**/.*.swp
**/.vscode

# OS specific junk
#-----------------
**/.DS_Store
**/desktop.ini
**/thumbs.db
**/Thumbs.db

# Python and related tools
#-------------------------
**/__pycache__/
**/dist/*
**/*.pyc
**/*.egg-info
**/*/.eggs/
**/*.pytest_cache
**/.coverage
**/coverage.xml
**/.venv
**/build/*
**/htmlcov
**/.env

# Other global stuff
--------------------
#ingore all binaries
**/*.dll
**/*.exe
**/*.so
**/*.o

# ignore git merge origs
**/*.orig

# ignore allure-reports
/allure-results
# ignore file created by pytest
article_titles.txt
